body{
    background-color: bisque;
}
header{
    background-color: rgb(216, 177, 129);
}
main{
    background-color: rgb(78, 9, 78);
    color: blanchedalmond;
}
aside{
    background-color: rgb(22, 177, 68);
}
footer{
    background-color: rgb(78, 2, 2);
}